<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testhellofun.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/40a60e80-45c0-46d5-946c-e1c318081019/resourceGroups/InternAssesments/providers/Microsoft.Web/sites/TestHelloFun</ResourceId>
    <UserName>$TestHelloFun</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testhellofun.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>